* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid blueviolet;
    background-color: rgb(80, 164, 136);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid purple;
}

#startQuiz {
    background-color: rgb(99, 141, 197);
    margin-left: 33%;
    padding: 15px;
    font-size: 18px;
    color: whitesmoke;
}

#questions {
    margin: 20px;
}

#time {
    float: right;
}